@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 200px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.header {
  padding-top: 30px;
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
}

.header h1 {
  color: white;
}

.sub-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams {
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover {
  background: #257aa6;
  border-radius: 12px;
  transform: scale(1.1);
}

.teams img {
  width: 200px;
  height: 200px;
}

.name {
  color: white;
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.desig {
  font-style: italic;
  color: cyan;
}

.about {
  margin: 30px 0;
  font-weight: lighter;
  color: aquamarine;
}

.social-links {
  margin: 14px;
  display: flex;
  justify-content: center;
}

.social-links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}

.social-links a:hover {
  transform: scale(1.5);
}

.social-links i {
  color: white;
}

@media screen and (max-width: 600px) {
  .teams {
    max-width: 100%;
  }
}
